ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.card{
    padding: 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #ccc;
    align-items: center;
}

li{
    margin: 2%;
    padding: 10px;
    width: 250px;
    max-width: 250px;
    max-height: 400px;
}

.card >img {
  width: 100%;
  height: 50%;
}
.card article{
    padding: 5px;
}

.searchBook{
    width: 30%;
    height: 30px;
}
.buyBtn{
    color: aliceblue;
    text-decoration: none;
}